*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:black;
color:white;
}

.layout{
display:flex;
min-height:100vh;
}

.sidebar{
width:250px;
border-right:1px solid #333;
padding:20px;
}

.history-item{
background:#111;
padding:10px;
margin-bottom:10px;
border-radius:6px;
}

.main{
flex:1;
padding:30px;
}

.upload-box{
border:2px dashed #555;
padding:40px;
text-align:center;
margin-top:40px;
border-radius:10px;
}

#preview{
max-width:300px;
display:none;
margin-top:20px;
}

button{
padding:10px 20px;
margin:10px;
background:white;
color:black;
border:none;
cursor:pointer;
}

#description{
margin-top:20px;
}
